<div class="d-flex flex-column align-items-center">
<h1 class="display-1" my-20> Welcome to stupid coach </h1>

<p> <%= params[:question] %> </p>
<p> <%= @answer %> </p>

<%= link_to "Ask a new question", ask_path %>
</div>
