<div class="container">
  <h1> Welcome to stupid coach </h1>

  <div class="card">
    <p> <%= params[:question] %> </p>
    <p> <em>- You </em> </p>
  </div>

  <div class="card-yellow">
    <p> <%= @answer %> </p>
    <p> <em>- Your Coach </em> </p>
  </div>

  <%= link_to "Ask a new question", ask_path %>
</div>
