<div class="d-flex flex-column align-items-center">
<h1 class="display-1">Welcome to Stupid Coach</h1>

<form action="/answer" method="get" data-turbo="false">
  <input type="text" name="question" placeholder="Ask something to coach!">
  <input type="submit" value="Ask!">
</form>
</div>
