<div class="container">
<h1>Welcome to Stupid Coach</h1>

<form action="/answer" method="get" data-turbo="false">
  <input type="text" name="question" placeholder="Ask something to your coach!" id="input">
  <input type="submit" value="Ask!" id="button">
</form>
</div>
